.all{
	max-width: 550px;
	margin: 0 auto;
	/* display: flex; */
	/* align-items: center; */
}
.artical-title{	font-size: 20px;font-weight: bold;}
.artical-title-left{
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
	color: red;
}
.artical-img img,video{
	border-radius: 10px;
    width: 100%;
    height: 180px;
}
.artical-item{
	margin:10px 0px;
}
.one-day-detail{padding-left: 20px;}
.all-price{
	display: flex;
	justify-content: space-between;
	padding: 10px;
	color: orange;
	height: 30px;
	line-height: 30px;
}
.all-price-left span{
	font-size: 24px;
}
.all-price-left del{
	margin-left: 20px;
	color: grey;
}
.all-price-right{
	color: grey;
}
.all-line-type{
	border-top: 1px solid #ccc;
	display: flex;
	/* justify-content: space-around; */
}
.all-line-type-state{
	text-align: center;
	display: flex;
	flex: 1; 
	flex-direction: column;
	height: 80px;
	justify-content: space-around;
}
.state-type{
	background: url(../img/type-relax.png) center center no-repeat;
	height: 32px;
}
.state-start{
	background: url(../img/type-start.png) center center no-repeat;
	height: 32px;
}
.state-time{
	background: url(../img/type-time.png) center center no-repeat;
	height: 32px;
}
.all-head{
	background: url(../img/zjqm/head.jpg);
	background-size: 100% 100%;
	height: 200px;
	border-radius:10px;
	margin-bottom: 10px;
}
.all-start-date{
	margin: 20px 0px;
}
.all-remark-cate{
	display: flex;
	justify-content: space-around;
}
.all-remark-sun-detail p{
	margin-top: 5px;
	margin-bottom: 5px;
}
.all-remark-sun-detail-title{
	margin-top: 20px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: red;
}
.all-remark-sun-detail-head{
	margin-top: 10px;
	font-size: 16px;
	font-weight: bold;
}
.all-remark-sun-detail-img{
	text-align: center;
}
.all-remark-sun-detail-img img{
	border-radius: 10px;
	width:50%;
	height: 180px;
}
.li-dot{font-size: 16px;font-weight: bold;}
.point{
	background-position-x: right;
	background-repeat: no-repeat;
	height: 32px;
	line-height: 32px;
	background-color: #FFA500;
	background-image: url(../img/point.png);
	border-radius: 5px;
	padding: 5px;
	padding-right: 20px;
}
.point-open{
	background-image: url(../img/down.png);
	background-position-x: right;
	background-repeat: no-repeat;
	background-position-y: 9px;
	height: 32px;
	line-height: 32px;
	width: 120px;
	margin: 0 auto;
	text-decoration: underline;
}
.point-close{
	background-image: url(../img/up.png);
	background-position-x: right;
	background-position-y: 9px;
	background-repeat: no-repeat;
	height: 32px;
	line-height: 32px;
	width: 120px;
	margin: 0 auto;
	text-decoration: underline;
}
.hide{display: none;}
.font-red{color: red;}
.font-black{color:black;}
.font-bold{font-weight: bold;}
.font-yellow{color: #FFA500;}
.font-14{font-size: 14px;}
.font-16{font-size: 16px;}
.font-18{font-size: 18px;}
.font-20{font-size: 20px;}
.font-24{font-size: 24px;}
.font-400{font-weight: 400;}
.center{text-align: center;}
.mgt-20{margin-top: 20px;}