.yn-title{
	font-size: 20px;
	font-weight: bold;
}
.line-remark{
	color:red;
	font-size: 20px;
	font-weight: bold;
}
.remark-img img{
	width: 100%;
	height: 100%;
}
.remark-title{
	font-size: 18px;
	font-weight: bold;
}

.day{
	height: 32px;
	line-height: 32px;
}


.heart-shape{position:absolute;width:10px;height:10px;background-color:red;border-radius:3px;transform:rotate(45deg);top:35%;left:30%;margin:-5px;}
.heart-shape:before{content:'';position:absolute;width:10px;height:10px;background-color:red;border-radius:50%;top:0px;left:-5px;}
.heart-shape:after{position:absolute;width:10px;height:10px;content:'';background-color:red;border-radius:50%;left:0px;top:-5px;}
.heart-shape2{position:absolute;width:10px;height:10px;background-color:red;border-radius:3px;transform:rotate(45deg);top:35%;right:30%;margin:-5px;}
.heart-shape2:before{content:'';position:absolute;width:10px;height:10px;background-color:red;border-radius:50%;top:0px;left:-5px;}
.heart-shape2:after{position:absolute;width:10px;height:10px;content:'';background-color:red;border-radius:50%;left:0px;top:-5px;}
@-webkit-keyframes shake{
        0%{
            opacity: 1;
        }
        50%{
            opacity: 0.5;
        }
        100%{
            opacity: 1;
        }
    }@keyframes shake{
        0%{
            opacity: 1;
        }
        50%{
            opacity: 0.5;
        }
        100%{
            opacity: 1;
        }
    }
    .shake{
		position: relative;
        -webkit-animation: shake 2s infinite;
        animation: shake 2s infinite;
		color: red;
		font-weight: bold;
		text-align: center;
		border-size: 5px;
		border-style: dashed;
		border-color: black;
		padding:10px;
    }